<h2>We are on the show page</h2>


<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
