<!DOCTYPE html>
<html>
<head>
  <title>Awesome Blog App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Awesome Blog', posts_path %></h1>
<%= link_to 'Add Post', new_post_path %>
<%= yield %>

</body>
</html>
